html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    font-family: 'inter', sans-serif;
    display: block;

}


body {
    overflow-x: hidden;
}


header {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;


}

.header-content {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    padding: 0;

}

nav {
    margin-top: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}



nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-size: 14px;

}

nav ul li a:hover {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 30px, 0 0 #00ff00, 0 0 50px #00ff00;
    padding: 20px;
    transform: translateY(-10px);
    /* Mover o botão para cima */
}

.logos {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;


}

.logos img {
    width: 30px;
    height: 30PX;
    margin-left: 30px;
}


.image3 {
    position: absolute;
    top: 10px;
    left: 20px;




}

.image3 img {
    width: 150px;
    height: auto;

}

.logos img:last-child {
    margin-bottom: 0;
}

.carousel-container {
    width: 1180px;
    height: 600px;
    /*width: 78%;*/
    margin: 160px auto 20px auto;
    background-color: black;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}





.carousel img {

    flex: 0 0 auto;
    width: 100vw;
    /* height: 100%; */

    object-fit: cover;


    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-radius: 0%;


}

.carousel {

    scroll-snap-type: x mandatory;
    display: flex;
    width: 100%;
}





.carousel-container::before {
    left: 10px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
}

.carousel-container::after {
    right: 10px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;


}

.carousel-container:hover::before,
.carousel-container:hover::after {
    opacity: 1;
}


.carousel-buttons {
    position: absolute;
    bottom: 55px;
    left: 45%;
    transform: translateX(-50);
    display: flex;
    gap: 20px;
}

#prev-button,
#next-button {

    position: absolute;

    border: 2px solid white;
    border-radius: 50%;

    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -255px;
}

#prev-button img,
#next-button img {
    background-color: white;
    width: 30px;
    height: auto;
    border: 2px solid black;
    border-radius: 50%;
    filter: invert(100%);
}

#prev-button {
    position: absolute;
    right: 479px;
    top: -255px;

}

#next-button {
    position: absolute;
    left: 591px;

}

.info-box {
    padding: 15px;
    margin: 1px 0;
    background-color: transparent;
    border: transparent;
    text-align: center;
    font-weight: 800;
    margin-top: 110px;
    position: relative;
}

.neon-text {
    font-size: 44px;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 30px, 0 0 #00ff00, 0 0 50px #00ff00;
}

.text-box {
    padding: 40px;
    background-color: black;
    margin: 20px auto;
    width: 70%;
    text-align: center;
    color: rgb(148, 141, 146);
    font-weight: 300;

}

.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #97f902;
    color: #97f902;
    margin: 40px auto;
    border-radius: 500px;
}

.quote-box {
    width: 233px;
    height: 56px;
    font-size: 16px;
}




.quote-box p {
    font-weight: bold;
}

.image-container {
    background-image: url('image/background.img.jpg');
    height: 518px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin-top: 30px;
}

.image-item img {
    width: 247px;
    height: 247px;
    max-width: 300px;
    max-height: 250px;

}

.image-item h1 {
    color: #97f902;
    margin-top: 5px;
    font-size: 26px;

    font-weight: bold;
}

.image-item p {
    color: #ffffff;
    margin-top: 5px;
    font-size: 18px;
}

.section-login p {
    display: flex;
    justify-content: center;
    color: #00ff00;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;



}

.section-login {


    text-align: right;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    justify-content: flex-end;
}

.message-box {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 150px;
    font-weight: 1000;


}



.form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

.text-container {

    max-width: 45%;
    box-sizing: border-box;
    padding: 10px;
}

.text-container p {
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: 1000;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}


.form-container input[type="text"],
.form-container input[type="email"] {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    width: 100%;
    box-sizing: border-box;
}

.form-container input[type="text"] {
    align-self: flex-start;
    margin-top: -130px;
}

.form-container input[type="email"] {

    margin-top: 70px;
}






.form-container button {
    padding: 15px;
    font-size: 18px;
    background-color: black;
    border: 3px solid #97f902;
    border-radius: 60px;
    cursor: pointer;
    color: #97f902;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}








.section4-box {
    display: flex;
    background-image: url(image/background.img.jpg);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    /* border: 1px solid rgb(168, 6, 6); */
    gap: 200px;

}

.box1-section4 {
    display: flex;
    /* border: 1px solid purple; */
    flex-direction: column;
    gap: 30px;

}

.box1-section4 h1 {
    font-weight: 1000;
    font-size: 34px;
    color: #00ff00;

}

.box1-section4 p {
    display: flex;
    font-size: 24px;
    font-weight: 200;
    padding: auto;
    margin: 0px 0px 20px;

}



.box2-section4 {
    display: flex;
    /*  border: 1px solid red; */
    flex-direction: column;
    gap: 25px;

}

.box2-section4 h2 {
    font-weight: 1000;
    font-size: 34px;
    color: #00ff00;

}

.box2-section4 p {
    display: flex;
    font-size: 24px;
    font-weight: 200;
    padding: auto;
    margin: 0px 0px 20px;

}

.box1-section4 img {
    width: 350px;
    height: 350px;
}

.box2-section4 img {
    width: 350px;
    height: 350px;
}



.section5-box {
    height: 73vh;
}



.text-section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 515px;
    margin-top: 17px;
    margin-left: 309px;
}

.text-section5>h1 {
    color: #97f902;
    font-size: 44px;
}

.son1-box {

    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.son1-box p {
    margin: 0px;
    margin-bottom: 60px;

}

.son1-box h2 {
    font-size: 15px;
    color: #97f902;
    padding-right: 120px;
    /*  border: 1px solid orangered; */
}


.son2-box {

    flex-direction: column;
    display: flex;

}


.son2-box p {

    font-size: 19px;
    font-weight: 300;
    padding: auto;
    margin: 0px 30px 30px;

}

.son2-box h1 {
    font-size: 16px;
    color: #97f902;
    padding-right: 10px;
    margin-left: 38px;
    margin-top: -19px;
    /*  border: 1px solid rebeccapurple; */


}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 0px 50px;


    background-color: #fff;
}







.section-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    /*  border: 1px solid red; */

}









.section-footer a {
    color: black;
    font-size: 16px;
    font-weight: bold;


}

.footer {
    display: flex;
    width: 100px;
    margin-right: 100px;
    margin-top: 25px;
    gap: 20px;
    /*  border: 1px solid rgb(23, 11, 131); */

}

.footer img {
    width: 30px;
    height: 30PX;
    border: 5px solid #000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;


}




.sobre-nos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 0px 50px;
    background-color: black;
    /* border: 1px solid orangered; */


}

.logo-game img {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    /*  border: 1px solid white;*/
}

.rodape1 {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    /* border: 1px solid purple;*/



}

.rodape1 img {
    width: 30px;
    height: 30PX;
    margin-top: 25px;
    cursor: pointer;
    /* border: 1px solid purple;*/
}


.titulo {
    display: flex;
    /* border: 1px solid purple; */
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    color: #00ff00;
}

.texto-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 25px;

    /* border: 1px solid aqua; */
}

.texto-botao a {
    font-size: 16px;
    font-weight: 400;

}

.texto-botao h1 {
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #97f902;
    border-radius: 50px;
    padding: 20px 40px;
    cursor: pointer;



    color: #00ff00;
}






.nossos-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-image: url('image/background.img.jpg');
    padding: 20px;

    /* Espaçamento dentro do contêiner */
    /*   border: 1px solid purple;  */
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 20px;



    max-width: 660px;
    /* Espaçamento entre as colunas */
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espaçamento entre as imagens */
    align-items: center;
}

.nossos-produtos img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

h1 {
    margin: 0;
    margin-bottom: 50px;
    /* Espaçamento abaixo do título */
    text-align: center;
    color: #00ff00;
}

.nossos-produtos h2 {
    display: flex;

    margin-left: 35px;



    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;


}


.informacao-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;

}

.produtos-caixa1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   border: 1px solid #00ff00;  */
}

.produtos-caixa1 a {
    display: flex;
    justify-content: center;
    /*  border: 1px solid green; */
}

.produtos-caixa2 a {
    display: flex;
    justify-content: center;
    /*   border: 1px solid green; */

}




.produtos-caixa2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   border: 1px solid aqua;  */


}




.produtos-caixa1 h2 {
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 70px;
    height: auto;
    width: auto;
    cursor: pointer;
    border: 2px solid #97f902;

}

.produtos-caixa2 h2 {
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #97f902;
    border-radius: 50px;
    padding: 10px 70px;
    cursor: pointer;

}

.penultima-secao {
    display: flex;
    background-image: url('image/background.img.jpg');
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    align-items: center;

    margin-top: 100px;
    padding: 20px 100px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.penultima-secao h3 {
    font-size: 16px;
    font-weight: 400;
    color: #00ff00;
}


.secao-final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 0px 50px;


    background-color: #fff;
}



.secao-final ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    /*  border: 1px solid red; */

}





.secao-final a {
    color: black;
    font-size: 16px;
    font-weight: bold;


}

.imagens-final {
    display: flex;
    width: 100px;
    margin-right: 100px;
    margin-top: 25px;
    gap: 20px;
    /*  border: 1px solid rgb(23, 11, 131); */

}

.imagens-final img {
    width: 30px;
    height: 30PX;
    border: 5px solid #000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;


}





.nossa-oferta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 0px 50px;
    background-color: black;
    /*  border: 1px solid orangered; */


}

.logo-game img {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    /*  border: 1px solid white;*/
}

.inicio-nossa-oferta {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    /*   border: 1px solid purple;  */



}

.inicio-nossa-oferta img {
    width: 30px;
    height: 30PX;
    margin-top: 25px;
    cursor: pointer;
    /*  border: 1px solid purple;  */
}


.informacao-ofertas {


    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /*    border: 1px solid aqua;  */


}




.informacao-ofertas h2 {
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #97f902;
    border-radius: 50px;
    padding: 20px 40px;
    cursor: pointer;

}


.precos-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('image/background.img.jpg');
    gap: 20px;
    padding: 10px;
    margin-top: 30px;
}


.precos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 30px;
}

.precos h1 {
    color: #fff;
}

.precos span {
    color: #00ff00;
}


.precos h1,
.precos a,
.precos span {
    margin: 0;



}

.hardware-oferta {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin-top: 100px;

    /*  border: 1px solid purple;*/
}




.hardware-oferta img {
    height: 242px;
    width: 242px;

}








.hardware-oferta a {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;

}



.prod1-oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /*  border: 1px solid red; */



}

.prod2-oferta {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /*  border: 1px solid red; */
}

.prod3-oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /*   border: 1px solid red; */
}

.prod4-oferta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /*  border: 1px solid red; */
}


.prod1-oferta h1,
.prod2-oferta h1,
.prod3-oferta h1,
.prod4-oferta h1 {
    margin: 0;
}


.penultima-parte {


    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-image: url('image/background.img.jpg');
    margin-top: 200px;
    /*    border: 1px solid aqua;  */


}




.penultima-parte h2 {
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #97f902;
    border-radius: 50px;
    padding: 20px 40px;
    cursor: pointer;

}







.secao-final2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 0px 50px;


    background-color: #fff;
}



.secao-final2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    /*  border: 1px solid red; */

}





.secao-final2 a {
    color: black;
    font-size: 16px;
    font-weight: bold;


}

.imagens-final {
    display: flex;
    width: 100px;
    margin-right: 100px;
    margin-top: 25px;
    gap: 20px;
    /*  border: 1px solid rgb(23, 11, 131); */

}

.imagens-final img {
    width: 30px;
    height: 30PX;
    border: 5px solid #000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;


}















.reserva {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 0px 50px;
    background-color: black;
    /*  border: 1px solid orangered; */


}

.reserva-game img {
    height: 150px;
    width: 150px;
    margin-top: 80px;
    margin-left: 30px;
    /*  border: 1px solid white;*/
}

.reserva-social {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    /*   border: 1px solid purple;  */



}

.reserva-social img {
    width: 30px;
    height: 30PX;
    margin-top: 25px;
    cursor: pointer;
    /*  border: 1px solid purple;  */
}







.reserva-informacao {


    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 100px;

    /*    border: 1px solid aqua;  */


}

.reserva-informacao a {
    font-size: 24px;
    font-weight: 100;


}




.reserva-informacao h1 {
    font-size: 40px;
    font-weight: 700;

    color: #00ff00;
    cursor: pointer;


}










.carrosell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;

    margin-top: 150px;
}

.imagem-carrosell {
    display: flex;
    overflow: hidden;
    width: 1100px;
    height: 600px;
}
    
   


.imagem-carrosell img {
    min-width: 100%; 
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.Botoes-carrosell {
    display: flex;
    justify-content: space-between;

    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

}

.Botoes-carrosell button {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.Botoes-carrosell img {
    width: 10px;
    height: 10px;
}
 
#prev-button{
    right: 600px;
}