html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

}

body {

    font-family: 'Inter'  sans-serif;
}

.container {
   position: relative;
   width: 300px;
   height: 200px;
   border: 1px solid #ccc;
   padding: 20px;
   box-sizing: border-box;
}

.small-home-img {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px ;
    height: 30px;
   margin-top: 25px;
   margin-right: 25px;
   

}

.close-icon, .close-icon1 {
   
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin-top: -90px;
}




h1 {
    cursor: pointer;
    font-size: 36px;
    color: blueviolet;
    text-align: center;
    margin: 20px 0;
}
    
    




